@page "/recover-password"
@layout EmptyLayout
@inherits RecoverPasswordComponent
<style>
    * {
        margin: 0;
        padding: 0;
    }

    body {
        background-color: #f0f0f0;
        font-family: helvetica;
    }

    a {
        display: block;
        color: #ad5482;
        text-decoration: none;
        font-weight: bold;
        margin-top: 40px;
        text-align: center;
    }

    .fa fa-lock {
        font-size: 130px;
    }

    .button {
        height: 50px;
        width: 90%;
        border-radius: 3px;
        border: rgba(0,0,0,.3) 0px solid;
        box-sizing: border-box;
        padding: 10px;
        margin-bottom: 30px;
        background: #007bff !important;
        color: #FFF;
        font-weight: bold;
        font-size: 12pt;
        transition: background .4s;
        cursor: pointer;
    }

    @@media only screen and (max-width: 500px) {
        .sing-up-comments {
            display: none;
        }
    }

    .login-field {
        display: flex;
        flex-flow: column;
    }

    .invalid {
        outline: none !important;
    }

    .button:hover {
        background: #80b438;
    }

    .material-icons {
        font-size: 100px;
    }

    .register-icon {
        font-size: 5vw
    }

    .log-in-link {
        text-decoration: none;
        margin: 0;
        padding: 0;
        display: inline;
        color: #0d6efd;
        font-weight: normal;
    }

    .sign-up-heading {
        max-width: 81%;
    }

    .log-in-container {
        box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10  p-5 d-lg-flex d-md-flex bg-white text-center mt-5 pt-5 main-container log-in-container">
            <div class="d-sm-none d-lg-flex d-md-flex w-100 sing-up-comments d-xs-none d-lg-flex d-md-flex"><h2 class="text-center my-auto sign-up-heading">Join millions worldwide who engage with their clients using Produce Delivery App.</h2></div>
            <div class="w-100">
                <MatIcon Icon="lock"></MatIcon>
                <div class="mb-5 mt-5 text-center text-dark"><span style="font-size:20px;">RECOVER YOUR PASSWORD</span></div>
                <EditForm Model="@resetCmd" OnValidSubmit="@ResetPassword" class="form-group">
                    <DataAnnotationsValidator />
                    <div class="login-field mb-5">
                        <MatTextField @bind-Value="@resetCmd.Email" Label="Email" Outlined="true" Class="border-primary w-100"></MatTextField>
                        <div class="text-left"><ValidationMessage For="(()=>resetCmd.Email)" /></div>
                    </div>
                    <div class="justify-content-center">
                        <input type="submit" name="resetPassword" value="Reset Password" class="button btn-primary btn-block" />
                    </div>
                    <div class="text-center mt-5 text-black-50">  <a class="log-in-link " href="/login">Go Back To Login</a></div>
                </EditForm>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
</div>
